*.o
*.lo

lib/curl-7.64.0/Makefile
lib/curl-7.64.0/docs/curl.1
lib/curl-7.64.0/src/tool_hugehelp.c
lib/curl-7.64.0/config.log
lib/curl-7.64.0/config.status
lib/curl-7.64.0/curl-config
lib/curl-7.64.0/docs/Makefile
lib/curl-7.64.0/docs/cmdline-opts/Makefile
lib/curl-7.64.0/docs/examples/.deps/
lib/curl-7.64.0/docs/examples/Makefile
lib/curl-7.64.0/docs/libcurl/Makefile
lib/curl-7.64.0/docs/libcurl/opts/Makefile
lib/curl-7.64.0/include/Makefile
lib/curl-7.64.0/include/curl/Makefile
lib/curl-7.64.0/lib/.deps/
lib/curl-7.64.0/lib/.dirstamp
lib/curl-7.64.0/lib/.libs/
lib/curl-7.64.0/lib/Makefile
lib/curl-7.64.0/lib/curl_config.h
lib/curl-7.64.0/lib/libcurl.la
lib/curl-7.64.0/lib/libcurl.vers
lib/curl-7.64.0/lib/stamp-h1
lib/curl-7.64.0/lib/vauth/.deps/
lib/curl-7.64.0/lib/vauth/.dirstamp
lib/curl-7.64.0/lib/vtls/.deps/
lib/curl-7.64.0/lib/vtls/.dirstamp
lib/curl-7.64.0/libcurl.pc
lib/curl-7.64.0/libtool
lib/curl-7.64.0/packages/Makefile
lib/curl-7.64.0/packages/vms/Makefile
lib/curl-7.64.0/scripts/Makefile
lib/curl-7.64.0/src/.deps/
lib/curl-7.64.0/src/Makefile
lib/curl-7.64.0/src/curl
lib/curl-7.64.0/tests/Makefile
lib/curl-7.64.0/tests/certs/Makefile
lib/curl-7.64.0/tests/certs/scripts/Makefile
lib/curl-7.64.0/tests/configurehelp.pm
lib/curl-7.64.0/tests/data/Makefile
lib/curl-7.64.0/tests/libtest/.deps/
lib/curl-7.64.0/tests/libtest/Makefile
lib/curl-7.64.0/tests/server/.deps/
lib/curl-7.64.0/tests/server/Makefile
lib/curl-7.64.0/tests/unit/.deps/
lib/curl-7.64.0/tests/unit/Makefile
scripts/configure-curl.sh
